HDFS_URL=http://namenode:9870
SPARK_MASTER_URL=spark://spark-master:7077

AES_KEY=2cf04e2e15dafc3991ea0d60237d6eb18f322cf1a2a7a5eb754425f0c73a0970

MYSQL_ROOT_PASSWORD=rootpass
MYSQL_PASSWORD=hivepass
HIVE_DB=irisdb
HIVE_TABLE=iris_setosa

KAFKA_TOPIC=iris-setosa
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
